body { background:#111; color:white; font-family:Arial;}
.match { background:#222; padding:10px; margin:10px; border-radius:10px;}
.locked { background:#333; opacity:0.6;}
.top1 { color:gold; font-size:20px;}
button { margin:3px; }