body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.card.predicted {
  background: #14532d; /* verde oscuro */
  border: 1px solid #22c55e;
}

.card.locked {
  background: #27272a;
  color: #a1a1aa;
}

button.active {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

.card.upcoming {
  background: #1e3a8a;
  border: 1px solid #3b82f6;
}

.card.finished {
  background: #14532d;
  border: 1px solid #22c55e;
}

table {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 8px;
}

tr:nth-child(1),
tr:nth-child(2) {
  background: #14532d;
}

